# Protter Server settings
port = 81
wwwroot = www
proxyPrefix = 
proxyPort = 
server = localhost
#-- if you already run a webserver (e.g. apache) then you can e.g. configure it to ProxyPass /protter/ to http://localhost:81/ and set "proxyPrefix = /protter" and "proxyPort = 80"
latexPath = latex --extra-mem-top=100000000 --extra-mem-bot=10000000 --stack-size=50000 --param-size=50000
dvisvgmPath = dvisvgm.exe
textopo_loopextent = 30
textopo_loopdistance = 5
loglevel = INFO
#-- loglevels: ALL | DEBUG | INFO | WARN | ERROR | FATAL | OFF

# Range Parsers (sorted by priority high to low)
rangeparsers = at.omasits.proteomics.protter.ranges.RangeParserPosition,at.omasits.proteomics.protter.ranges.RangeParserRange,at.omasits.proteomics.protter.ranges.RangeParserUniProt,at.omasits.proteomics.protter.ranges.RangeParserPeptideAtlas,at.omasits.proteomics.protter.ranges.RangeParserPhobius,at.omasits.proteomics.protter.ranges.RangeParserPeptideCutter,at.omasits.proteomics.protter.ranges.RangeParserHumanProteinAtlas,at.omasits.proteomics.protter.ranges.RangeParserExperiment,at.omasits.proteomics.protter.ranges.RangeParserRegEx

# Servers
phobiusServer = http://phobius.sbc.su.se/cgi-bin/predict.pl;http://phobius.binf.ku.dk/cgi-bin/predict.pl
peptideCutter = https://web.expasy.org/cgi-bin/peptide_cutter/peptidecutter.pl

# Mail Server setup for sending of batch generated PDF files (see JavaMail API for all possible parameters)
mail_username = protter
mail_password = yourpassword
mail_report_errors = false
mail_from = protter@yourdomain.com
mail.smtp.host = mail.yourdomain.com
mail.smtp.socketFactory.port = 587
mail.smtp.socketFactory.class = javax.net.ssl.SSLSocketFactory
mail.smtp.auth = true
mail.smtp.port = 587
mail.smtp.starttls.enable = true

maxBatchSize = 100

# bit.ly configuration
#bitly_login = yourlogin
#bitly_apikey = yourapikey
